* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    color: var(--c-text-100);
}

img {
    display: block;
    width: 100%;
}